.Navbar{
    height: 3rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px rgb(99, 99, 99);
}

.navbarsides{
    display: flex;
    gap: 20px;
    padding: 0 20px;
    align-items: center;
}

.bulmaLogo{
    width: 9rem;
}

.right-navbar>button{
padding: 7px 10px;
border-radius: 5px;
}